In [1]:
#!pip install pandasql

In [2]:
import pandas as pd
import glob

In [3]:
from pandasql import sqldf
# I had an error earlier in how I typed this, use this line (we'll review)
pysqldf = lambda q: sqldf(q, globals())

In [4]:
pd.options.display.max_columns = None

In [5]:
df = pd.read_csv("/Users/nms-workshop/Desktop/data/04-07_carbonhealth_and_braidhealth.csv")

In [6]:
#df.head()

In [7]:
dfs = []
for filename in glob.glob("/Users/nms-workshop/Desktop/data/*.csv"):
    dfs.append(pd.read_csv(filename))

In [8]:
df_covid = pd.concat(dfs, ignore_index=True)

In [9]:
#df_covid

In [10]:
df_covid.columns

Index(['batch_date', 'test_name', 'swab_type', 'covid19_test_results', 'age',
       'high_risk_exposure_occupation', 'high_risk_interactions', 'diabetes',
       'chd', 'htn', 'cancer', 'asthma', 'copd', 'autoimmune_dis', 'smoker',
       'temperature', 'pulse', 'sys', 'dia', 'rr', 'sats', 'rapid_flu_results',
       'rapid_strep_results', 'ctab', 'labored_respiration', 'rhonchi',
       'wheezes', 'days_since_symptom_onset', 'cough', 'cough_severity',
       'fever', 'sob', 'sob_severity', 'diarrhea', 'fatigue', 'headache',
       'loss_of_smell', 'loss_of_taste', 'runny_nose', 'muscle_sore',
       'sore_throat', 'cxr_findings', 'cxr_impression', 'cxr_label',
       'cxr_link', 'er_referral'],
      dtype='object')

In [11]:
# exercise - what columns do you think would be predictive of a positive or negative test?
# take 5 minutes

In [12]:
# on a 10 min break until 10:05
# I resolved the pandasql issue on my system, so we'll review that for everyone who was also having this problem when we return.

In [15]:
#pysqldf("SELECT * FROM df_covid")

In [18]:
query = """
SELECT
    covid19_test_results,
    high_risk_exposure_occupation,
    high_risk_interactions,
    cough, 
    cough_severity,
    fever, 
    sob, 
    sob_severity, 
    diarrhea, 
    fatigue, 
    headache,
    loss_of_smell, 
    loss_of_taste, 
    runny_nose, 
    muscle_sore,
    sore_throat
FROM
    df_covid
"""

In [20]:
df_predictive = pysqldf(query)

In [21]:
df_predictive

,covid19_test_results,high_risk_exposure_occupation,high_risk_interactions,cough,cough_severity,fever,sob,sob_severity,diarrhea,fatigue,headache,loss_of_smell,loss_of_taste,runny_nose,muscle_sore,sore_throat
0,Negative,0.0,0.0,0.0,None,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Negative,0.0,0.0,0.0,None,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Negative,0.0,NaN,0.0,None,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Negative,0.0,0.0,0.0,None,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Negative,0.0,1.0,0.0,None,0.0,0.0,None,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93990,Negative,1.0,0.0,0.0,None,0.0,1.0,Mild,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
93991,Negative,0.0,0.0,0.0,None,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93992,Negative,0.0,0.0,0.0,None,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93993,Negative,0.0,0.0,0.0,None,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93994,Negative,0.0,NaN,0.0,None,NaN,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df_predictive.describe(include="all")

,covid19_test_results,high_risk_exposure_occupation,high_risk_interactions,cough,cough_severity,fever,sob,sob_severity,diarrhea,fatigue,headache,loss_of_smell,loss_of_taste,runny_nose,muscle_sore,sore_throat
count,93995,93826.000000,69168.000000,93980.000000,5711,71074.000000,93789.000000,2836,93808.000000,93819.000000,93812.000000,93805.000000,93805.000000,93808.000000,93813.000000,93812.000000
unique,2,NaN,NaN,NaN,3,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Negative,NaN,NaN,NaN,Mild,NaN,NaN,Mild,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,92682,NaN,NaN,NaN,3966,NaN,NaN,1604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.073903,0.205514,0.062194,NaN,0.028477,0.030302,NaN,0.020222,0.065147,0.057786,0.007068,0.007206,0.036873,0.036136,0.062977
std,NaN,0.261614,0.404080,0.241509,NaN,0.166333,0.171418,NaN,0.140760,0.246786,0.233339,0.083773,0.084585,0.188451,0.186629,0.242923
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
pysqldf("""
SELECT
    DISTINCT cough_severity
FROM df_predictive
""")

  cough_severity
0           None
1           Mild
2       Moderate
3         Severe

In [26]:
# how many for each?

In [27]:
pysqldf("""
SELECT cough_severity, COUNT(*) AS cs_count
FROM df_predictive
GROUP BY cough_severity
""")

  cough_severity  cs_count
0           None     88284
1           Mild      3966
2       Moderate      1627
3         Severe       118

In [28]:
pysqldf("""
SELECT covid19_test_results, COUNT(*) AS cs_count
FROM df_predictive
GROUP BY covid19_test_results
""")

  covid19_test_results  cs_count
0             Negative     92682
1             Positive      1313

In [42]:
pysqldf("""
SELECT 
    covid19_test_results, 
    high_risk_interactions,
    COUNT(*) AS cs_count
FROM df_predictive
WHERE high_risk_interactions == 1
GROUP BY 
    covid19_test_results,
    high_risk_interactions
""")

  covid19_test_results  high_risk_interactions  cs_count
0             Negative                     1.0     14004
1             Positive                     1.0       211

In [37]:
# take 5 minutes to investigate a few more predictive variables this way

In [39]:
df_predictive.columns

Index(['covid19_test_results', 'high_risk_exposure_occupation',
       'high_risk_interactions', 'cough', 'cough_severity', 'fever', 'sob',
       'sob_severity', 'diarrhea', 'fatigue', 'headache', 'loss_of_smell',
       'loss_of_taste', 'runny_nose', 'muscle_sore', 'sore_throat'],
      dtype='object')

In [40]:
#10:35

In [41]:
# Any good queries?